/* for the blinking semicolon */
.transparent {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#clock {
    display: flex;
    align-items: center;
    color:  #DEDDD9;
    font-family: "Sono", sans-serif;
}