html.dark {
  background-color:  #0a0a0a;
  color:  #DEDDD9;
}

html.light {
  background-color:  #DEDDD9;
  color:  #0a0a0a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.accented {
  background-color:  #fa9599;
  color: #DEDDD9;
}