html.dark {
  background-color:  #0a0a0a;
  color:  #DEDDD9;
}

html.light {
  background-color:  #DEDDD9;
  color:  #0a0a0a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.accented {
  background-color:  #fa9599;
  color: #DEDDD9;
}

h1, h2, h3, h4 {
  font-family: "IM Fell English SC", serif;
}

p {
  font-family: "Sono", sans-serif;
}